---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Virtual Store" description="Store page for musical instruments, guitars, courses, blog and more">
	<main class="contenedor">
		<h1 class="heading">Virtual Store</h1>
	</main>
</Layout>

<style>

</style>
